<html>
    <body>
        <%-include('Nav')-%>
<center><h3>Adding Data Page </h3></center><hr>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <form>
            Enter  Name
            <input type="text" name="n" class="form-control"><br>
            Enter Course
            <input type="text" name="c" class="form-control"><br>
            <input type="submit" name="submit" value="Add" class="btn btn-warning">
        </form>